<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>

<nav>
    <div class="nav-wrapper blue lighten-2">
        <a href="#" class="brand-logo"><i class="material-icons">device_hub</i>Prism</a>
        {% if not user.is_authenticated %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'login' %}" class="waves-effect waves-light btn black">Login</a></li>
        </ul>
        {% else %}
        <ul id="nav-mobile_2" class="right hide-on-med-and-down">
            <li><a href="{% url 'logout' %}" class="waves-effect waves-light btn black">Logout</a></li>
        </ul>

        {% endif %}
    </div>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>


</body>
</html>